@import url('@/static/style/mixin.less');
.fx67ll-chart-box {
  padding: 10rpx;
  .fx67ll-chart-target {
    width: 100%;
  }
  .fx67ll-txt-target {
    color: #999999;
    text-align: center;
    font-size: 68rpx;
    margin-top: 58rpx;
    span:first-child {
      color: #2ecc71;
      padding-right: 18rpx;
    }
    span:last-child {
      padding-left: 18rpx;
    }
  }
}
