@import url('@/static/style/mixin.less');
@log-base-gap: 40rpx;
.fx67ll-log-box {
  padding: @log-base-gap;
  .fx67ll-log-item {
    margin-bottom: @log-base-gap;
  }
}

@tab-base-top: 32rpx;
@tab-base-left: 52rpx;
@tab-base-gap: 20rpx;
.fx67ll-search-drawer {
  padding: @tab-base-top @tab-base-left;

  .fx67ll-tab-box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ffffff;
    margin-bottom: @tab-base-top;
    padding: 0 @tab-base-gap;

    @tab-item-base-gap: 14rpx;
    .fx67ll-tab-item {
      font-size: 32rpx;
      text-align: center;
      border-radius: 8rpx;
      padding: @tab-item-base-gap calc(@tab-item-base-gap * 2);
      margin: 0 @tab-base-gap 22rpx 0;
    }

    .fx67ll-tab-item-type {
      background-color: #ffffff;
      color: #2ecc71;
      border: 1px solid #2ecc71;
    }

    .fx67ll-tab-item-type-active {
      background-color: #2ecc71;
      color: #ffffff;
    }

    .fx67ll-tab-item-yes-or-not {
      background-color: #ffffff;
      color: #ff4d4f;
      border: 1px solid #ff4d4f;
    }

    .fx67ll-tab-item-yes-or-not-active {
      background-color: #ff4d4f;
      color: #ffffff;
    }

    .fx67ll-tab-item-date {
      background-color: #ffffff;
      color: #007aff;
      border: 1px solid #007aff;
    }

    .fx67ll-tab-item-date-active {
      background-color: #007aff;
      color: #ffffff;
    }
  }

  @tab-btn-position-gap: 62rpx;
  @tab-btn-less-width: 32rpx;
  .fx67ll-tab-btn {
    width: calc(100% - @tab-base-left * 2);
    position: absolute;
    bottom: @tab-btn-position-gap;
    left: @tab-base-left;
    margin-top: @tab-base-top;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .fx67ll-tab-btn-search {
      width: calc(50% - @tab-btn-less-width);
    }
    .fx67ll-tab-btn-reset {
      width: calc(50% - @tab-btn-less-width);
    }
  }
}
