@import url('@/static/style/mixin.less');
.fx67ll-punch-box {
  padding: 10rpx;
  .fx67ll-chart-punch {
    width: 100%;
  }
  .fx67ll-txt-target {
    color: #999999;
    text-align: center;
    font-size: 68rpx;
    margin-top: 58rpx;
    span:first-child {
      color: #2ecc71;
      padding-right: 18rpx;
    }
    span:last-child {
      padding-left: 18rpx;
    }
  }
  @icon-size: 60rpx;
  .fx67ll-punch-btn {
    width: 80%;
    margin: 0 auto;
    margin-top: 88rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .fx67ll-btn-record {
      width: calc(100% - @icon-size);
      line-height: 100rpx;
    }
    .fx67ll-btn-history {
      width: @icon-size;
      height: @icon-size;
      padding: 0 10rpx 0 20rpx;
    }
  }
  // .fx67ll-punch-drawer {
  //   padding: 60rpx;
  //   .fx67ll-punch-item {
  //     width: 80%;
  //     margin: 0 auto;
  //     display: flex;
  //     justify-content: space-between;
  //     align-items: center;
  //     margin-bottom: 40rpx;
  //     .fx67ll-punch-item-title {
  //       font-size: 36rpx;
  //     }
  //     .fx67ll-punch-item-picker {
  //       position: relative;
  //       top: 2px;
  //       .fx67ll-punch-item-text {
  //         font-size: 36rpx;
  //         color: #2ecc71;
  //       }
  //     }
  //   }
  //   .fx67ll-btn-add {
  //     margin-top: 80rpx;
  //   }
  // }
}
