@import url('@/static/style/mixin.less');
.fx67ll-note-drawer {
  padding: 60rpx;

  .fx67ll-note-item {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40rpx;
  }

  .fx67ll-note-item-editor {
    margin: 0 56rpx;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    padding: 20rpx;
  }

  .fx67ll-note-item-remark {
    padding: 40rpx 56rpx;
  }

  .fx67ll-note-btn {
    width: 100%;
    margin: 0;
    margin-top: 20rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 6rpx;

    .fx67ll-btn-insert {
      width: calc(100% - 400rpx);
    }

    .fx67ll-btn-submit-for-insert{
      width: 160rpx;
    }

    .fx67ll-btn-submit {
      width: calc(100% - 200rpx);
    }

    .fx67ll-btn-cancel {
      width: 160rpx;
    }
  }
}

.fx67ll-note-editor {
  min-height: 300rpx;
}
